* {
    /* border: 1px solid red; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color:black;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: black;
    top: 0px;
    height: 60px;
}
.nav-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}
.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 5%;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height:100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white; 
}

a:hover {
    color: rgb(218,64,218);
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;

}

.showfeats {
    z-index: 1;
    height: 19em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    text-shadow: -1px 1px 2px rgb(0,0,0),
                  1px 1px 0     #000,
                  1px -1px 0    #000,
                  -1px -1px 0   #000;
}


.artist-header {
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    height:100px;
    background: linear-gradient(to bottom, rgba(255,255,255,0)0%, rgb(0,0,0) 40%);
    align-items: flex-end;
}
.main-tile-dimension {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-content:flex-start;
    padding-bottom: 20px; 
}
.image-container-artist{
    height: 840px;
    width: 100%; 
}

img {
    width: 100%;
    height:100%;
}


.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-grow:1;
    background-color: black;
}

.local-concerts {
    color: white;
    margin-top: 5%;
}

.concert-container {
    background-color: rgba(0,0,0,0.5);
    padding: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

th{
    font-weight: 900;
    text-decoration: underline;
}

.wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapper {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 60px;
}

.box{
    object-fit: cover;
    max-width: 300px;
    height: auto;
    background-color: rgba(0,0,0,0.5)
}
.grid-image {
    object-fit: cover;
    max-width: 300px;
    height: auto;
}
.grid-text{
    text-align: center;
}

footer{
    margin-bottom:0px;
}
.bottom {
    background-color:black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top:30px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}
.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;

}
.mapimg {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}
.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 3px ;
}